@tailwind base;

@layer base {
  :root {
    --color-black: 0 0 0;
    --color-white: 255 255 255;
    --color-blue: 74 122 255;
    --color-green: 52 199 89;
    --color-yellow: 255 149 0;
    --color-orange: 255 155 48;
    --color-red: 255 77 79;
    --color-t1: 28 28 30;
    --color-t2: 58 58 60;
    --color-t3: 142 142 148;
    --color-t4: 199 199 204;
    --color-t5: 255 255 255;
    --color-b1: 209 209 214;
    --color-b2: 229 229 234;
    --color-b3: 248 248 248;
    --color-b4: 255 255 255;
    --color-b5: 255 255 255;
    --color-m1: 255 255 255;
    --color-m2: 0 0 0;
    --color-todo-t1: 47 87 255;
    --color-todo-t2: 83 147 255;
    --color-note-t1: 192 131 93;
    --color-note-t2: 198 174 159;
    --color-calc-t1: 255 255 255;
    --color-calc-t2: 200 200 204;
    --color-calc-t3: 142 142 148;
    --color-calc-t4: 94 94 98;
    --color-calc-b1: 75 78 84;
    --color-calc-b2: 50 52 57;
    --color-calc-b3: 34 36 39;
    --color-calc-l1: 254 189 95;
    --color-calc-l2: 251 132 54;
    --color-calc-l3: 96 99 107;
    --color-calc-l4: 58 60 66;
    --color-calc-l6: 32 33 38;
    --color-calc-l7: 81 84 90;
    --color-calc-l5: 63 65 72;
    --color-calc-l8: 72 74 79;
    --color-calc-l0: 40 41 45;
    --color-calc-l9: 252 163 36;
    --color-calc-yellow: 240 168 16;
    --color-calendar-red: 255 77 79;
    --color-calendar-b1: 255 101 101;
    --color-calendar-b2: 255 246 241;
    --color-worldcup-t1: 168 238 65;
    --color-rate-t1: 28 28 30;
    --color-rate-t2: 58 58 60;
    --color-rate-t3: 141 142 148;
    --color-rate-t4: 109 147 229;
    --color-rate-b1: 255 255 255;
    --color-rate-b2: 248 248 248;
    --color-rate-b3: 34 36 39;
    --color-rate-b4: 55 69 157;
    --color-rate-b5: 238 240 239;
    --color-rate-l1: 70 154 255;
    --color-rate-l2: 72 90 188;
    --color-game-b1: 38 42 53;
    --color-game-b2: 70 74 88;
    --color-game-b3: 23 26 34;
    --color-game-b4: 44 47 59;
    --color-game-b5: 20 174 60;
    --color-game-t1: 200 200 204;
    --color-game-t2: 142 142 148;
    --color-movie-b1: 94 104 71;
    --color-clock-b1: 22 21 28;
    --color-wclock-b1: 19 20 21;
    --color-wclock-t1: 37 216 27;
    --color-wclock-t2: 47 142 42;
    --color-wclock-t3: 30 82 27;
    --color-bookmark-t1: 98 173 91;
    --color-bookmark-b1: 248 248 248;
    --color-bookmark-b2: 255 255 255;
    --color-record-t1: 255 115 48;
    --color-image-t1: 68 10 214;
    --color-image-b1: 0 0 0;
    --color-image-b2: 255 255 255;
    --color-image-b4: 17 17 17;
    --color-translate-green: 36 161 81;
  }
}

.search-box {
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 16px -4px #0000000d;
}
